
:root {
    --texto-primario: #dddddd;
   
    --fondo-primario: #0f0921;
    --fondo-primario-transparente: #0f092180;
    --fondo-secundario: #0a0c13;
    --color-primario: #2c2acb;
    --color-primario-apagado: #2422a3;
 
    /* sizes */
    --presentacion-titulo-tamanio: 4rem;
    --titulo-tamanio: 3rem;
    --enlaces-tamanio: 1.2rem;
    --texto-peso-grueso: 700;
  

    
}



* {
    /* normalizador */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* generales */
    color: var(--texto-primario);
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  
  html {
    background-color: var(--fondo-primario);
  }
  body {
    min-height: 100%;
    position: relative;
  }


    /* encabezado */
    .encabezado {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
      .navegacion {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
      }
      .navegacion__enlace {
        text-decoration: none;
      }
      .navegacion__titulo {
        font-size: var(--titulo-tamanio);
        text-shadow: 2px 2px 2px var(--fondo-secundario);
      }

      .articulo__titulo {
        font-size: var(--titulo-tamanio);
        text-align: center;
        margin-bottom: 1rem;
        
        text-shadow: 2px 2px 2px var(--fondo-secundario);
      }

 /* principal */
 .principal {
    background-color: var(--fondo-primario);
    
  }
  

/* articulo */
.articulo {
    width: 100%;
    height: 100vh;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .sobre_mi {
    background: linear-gradient(
      180deg,
      rgb(15 8 16) 0%,
      var(--fondo-primario) 10%,
      var(--color-primario-apagado) 75%,
      var(--color-primario) 90%
    );
  }
  .proyectos {
    background: linear-gradient(
      180deg,
      var(--color-primario) 0%,
      var(--color-primario-apagado) 10%,
      var(--fondo-primario) 55%
    );
   
  }
  
  .articulo__titulo {
    font-size: var(--titulo-tamanio);
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px var(--fondo-secundario);
  }

  
        /* enlaces */
  .enlaces {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
 
  .enlaces__item {
    list-style: none;
  }
  .enlaces__enlace {
    font-size: var(--enlaces-tamanio);
    font-weight: var(--texto-peso-grueso);
    color: var(--texto-primario);
    text-decoration: none;
    transition: color 0.3s ease;
  }
 
  .enlaces__enlace:hover,
  .enlaces__enlace:focus {
    color: var(--color-primario);
  } 

  /* tarjetas */
  .contenedor_tarjetas_grid {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .tarjeta {
    max-width: 600px;
    height: 300px;
    background-color: var(--fondo-primario-transparente);
    border-radius: 0.375rem;
    box-shadow: 0 0 8px var(--color-primario-transparente);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
       
  }
  .tarjeta__imagen {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
  }
  .tarjeta:hover {
    box-shadow: 0px 0px 12px var(--fondo-secundario);
  }
  .tarjeta:hover > .tarjeta__imagen {
    transform: scale(1.2);
  }

  
/* pie de página */
.pie_de_pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px; /* Ajusta este valor según sea necesario */
  padding-bottom: 20px; /* Agrega un espacio inferior */
  font-size: 2rem;
}

.pie_de_pagina__copyright {
  margin-top: 20px; /* Agrega un espacio superior para separar el texto del contenido superior */
}

.pie_de_pagina__contador {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: var(--texto-peso-grueso);
  color: var(--texto-primario);
  z-index: 9999;
  position: relative;
}

/*responsive*/
@media (max-width: 1700px) {
  .articulo {
    height: max-content;
    justify-content: flex-start; 
  }
}

@media (max-width: 1200px) {
  .contenedor_tarjetas_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }

  .pie_de_pagina {
    font-size: 1.8rem;
  }

  .pie_de_pagina__contador {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  .articulo {
    padding: 2rem 6rem;
  }

  .pie_de_pagina {
    font-size: 1.6rem;
  }

  .pie_de_pagina__contador {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .navegacion {
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario-transparente);
  }

  .enlaces {
    width: 80%;
  }

  .articulo {
    padding: 2rem;
    overflow: hidden;
  }

  .pie_de_pagina {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px; /* Reinicia el margen en dispositivos más pequeños */
    padding-top: 20px; /* Agrega espacio superior para evitar que el contenido se solape con la navegación */
    font-size: 1.4rem;
  }

  .pie_de_pagina__contador {
    font-size: 2.5rem;
  }

  .pie_de_pagina__columna {
    flex-basis: 150px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .encabezado {
    position: relative; /* Cambia la posición del encabezado a relativa */
  }

  .navegacion {
    position: fixed; /* Cambia la posición de la navegación a fija para que se mantenga en la parte superior */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999; /* Asegura que esté por encima del contenido */
    background-color: var(--color-primario); /* Cambia el color de fondo */
  }

  .principal {
    margin-top: 0; /* Reinicia el margen en dispositivos más pequeños */
    padding-top: 120px; /* Agrega espacio superior para evitar que el contenido se solape con la navegación */
  }
}




